.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.title h1 {
  background-color: blue;
  color: white;
  padding: 1rem;
  font-size: 1.5 rem;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  filter: grayscale(0);
}
.textDesc {
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(247, 245, 245, 0.7);
  font-size: 1rem;
  padding: 1rem;
  transform: translateX(100%);
  z-index: 1;
  transition: transform 0.7s ease-in-out;
}
.card:hover .textDesc {
  transform: translateY(0);
}
