@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

p {
  font-family: "Hubballi", cursive;
}

.card {
  background-color: black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.title h1 {
  color: white;
  font-family: "Amatic SC", cursive;
  padding: 1rem;
  font-size: 1.5 rem;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  filter: grayscale(0);
}
.textDesc {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 1rem;
  transform: translateX(100%);
  z-index: 1;
  transition: transform 0.7s ease-in-out;
}

.card img:hover {
  /* filter: brightness(50%) saturate(100%); */
  filter: grayscale(100);
}
.card:hover .textDesc {
  transform: translateY(0);
}
